body{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
.header{
    padding-left: 7%;
    padding-top: 5%;
    font-size: 25px;
}
.intro{
    display: flex;
}
.navbar{
    padding-top: 5%;
    display:inline-block;
}
nav ul{
    display:flex;
    padding-left: 120%;
    padding-top: 25%;

}
nav li{
    list-style: none;
}
nav li a{
    padding: 0px 15px;
    font-size: 25px;
    display: inline-block;
}
.text{
    font-size: 30px;
    padding-left: 7%;
    padding-top: 8%;
}
.photo img{
    width: 80%;
    float: right;
    padding-top: 10%;
    padding-right: 10%;
}
.secondpart{
    display: flex;
}
h1{
    font-weight: 800;
}
button{
    background-color: rgb(189, 28, 0);
    width: 250px;
    height: 60px;
    color: #fff;
    font-size: medium;
    font-weight: 700;
    border-radius: 30px;
}
.logos{
    height: 100px;
    width: 800px;
    border: 1px solid lightgrey;
    display: flex;
    margin-left: 20%;
    margin-right: 60%;
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
}
button a{
    padding-top: 50%;
}
.ALIBABA svg{
    padding-top: 50%;
}
.amazone{
    padding-top:5%;
    padding-left: 5%;
}
.DARAZ{
    padding-top: 4%;
    padding-left: 5%;
}
.Ebay{
    padding-top: 3%;
    padding-left: 5%;
}
.Rakuten{
    padding-top: 4%;
    padding-left: 5%;
}
.walmart{
    padding-top: 4%;
    padding-left: 5%;
}
span{
    font-size: 30px;
    text-align: center;
    padding-top: 5%;
}
.Collection{
    display: flex;
    padding-right: 25%;
    padding-top: 10%;
    padding-left: 25%;
    padding-bottom: 1%;
    padding-left: 20%;
}
.tripod{
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    margin-right: 3%;
    margin-left: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
ul{
    list-style: none;
    display: flex;
    padding-left: 2%;
}
.microphone{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.Airbuds{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.collection{
    display: flex;
    padding-right: 25%;
    padding-top: 5%;
    padding-left: 25%;
    padding-bottom: 3%;
    padding-left: 20%;
}
.drone{
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    margin-right: 3%;
    margin-left: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.Lightsetup{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.Photostoot{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.third{
    display: flex;
    padding-right: 25%;
    padding-top: 3%;
    padding-left: 25%;
    padding-bottom: 1%;
    padding-left: 20%;
}
.Vloggingcamera{
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    margin-right: 3%;
    margin-left: 1%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.Green{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.Action{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-right: 3%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
h4{
    color: rgb(188, 50, 96);
    padding-left: 78%;
}
.img img{
    padding-left: 60%;
    width: 125%;
    padding-right: 3%;
}
.Ending{
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
}
.paragraph{
    padding-left: 25%;
    padding-bottom: 10%;
}
.Featured{
    font-size: 50px;
}
.Paragraph{
    font-size: 20px;
}
footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 30%;
    text-align: center;

}
.Footer{
    background-color: #000;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}
.Footer li{
    padding: 5px;
}
.Footer ul{
    padding-left: 45%;
}
.All{
    padding-top: 2%;
}

    



